<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Burp-a-bet</title>
</head>
<body>

<footer class="pt-4 my-md-5 pt-md-5 border-top"  th:fragment="footer">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" alt="" width="64" height="64" th:src="@{/logo.png}">
            <small class="d-block mb-3 text-body-secondary">&copy; 2024</small>
        </div>

        <div class="col-6 col-md">
            <h5>Get Started</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://university.cockroachlabs.com/catalog">Online Training</a>
                </li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/install-cockroachdb.html">Install
                    CockroachDB</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/start-a-local-cluster.html">Start
                    a Local Cluster</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/learn-cockroachdb-sql.html">Learn
                    CockroachDB SQL</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/build-an-app-with-cockroachdb.html">Hello,
                    World!</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/demo-fault-tolerance-and-recovery.html">Explore
                    Capabilities</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Develop</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/install-client-drivers.html">Client
                    Drivers</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/connection-parameters.html">Connection
                    Parameters</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/performance-best-practices-overview.html">SQL
                    Best Practices</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/sql-statements.html">SQL
                    Statements</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/data-types.html">SQL Data
                    Types</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/sql-tuning-with-explain.html">SQL
                    Tuning</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Deployment</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/recommended-production-settings.html">Production
                    Checklist</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/topology-patterns.html">Topology
                    Patterns</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/manual-deployment.html">Manual
                    Deployment</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/orchestration.html">Orchestration</a>
                </li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/performance.html">Performance</a></li>
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/upgrade-cockroach-version.html">Rolling
                    Upgrade</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>FAQs</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted"
                       href="https://www.cockroachlabs.com/docs/stable/frequently-asked-questions.html">Product
                    FAQs</a>
                </li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/sql-faqs.html">SQL
                    FAQs</a>
                </li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/operational-faqs.html">Operational
                    FAQs</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/operational-faqs.html">Availability
                    FAQs</a></li>
                <li><a class="text-muted" href="https://www.cockroachlabs.com/docs/stable/licensing-faqs.html">Licensing
                    FAQs</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>