<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Burp-a-bet</title>

    <link rel="canonical" href="https://github.com/kai-niemi/burp-a-bet/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"
          rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<a class="github-fork-ribbon left-bottom fixed" href="https://github.com/kai-niemi/burp-a-bet"
   data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

<div th:replace="~{fragments/theme :: theme}"></div>

<div class="container py-3">
    <header th:replace="~{fragments/header :: header}"></header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Welcome</h1>
        <p class="fs-5 text-body-secondary">
            Sign up here for a world-class voice-activated betting experience.</p>
        <a class="btn btn-lg btn-outline-primary" href="/notice">Sign up</a>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13/jquery-ui.js"></script>
<script src="https://code.jquery.com/color/jquery.color-2.2.0.js"></script>

<script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>

<script src="js/color-modes.js"></script>

</body>
</html>
